/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$attach-name: 'attach';
$attach-x: 341px;
$attach-y: 242px;
$attach-offset-x: -341px;
$attach-offset-y: -242px;
$attach-width: 30px;
$attach-height: 30px;
$attach-total-width: 375px;
$attach-total-height: 574px;
$attach-image: '/dist/img/sprite.png';
$attach: (341px, 242px, -341px, -242px, 30px, 30px, 375px, 574px, '/dist/img/sprite.png', 'attach', );
$cart-img-name: 'cart_img';
$cart-img-x: 290px;
$cart-img-y: 293px;
$cart-img-offset-x: -290px;
$cart-img-offset-y: -293px;
$cart-img-width: 35px;
$cart-img-height: 22px;
$cart-img-total-width: 375px;
$cart-img-total-height: 574px;
$cart-img-image: '/dist/img/sprite.png';
$cart-img: (290px, 293px, -290px, -293px, 35px, 22px, 375px, 574px, '/dist/img/sprite.png', 'cart_img', );
$collapsed-name: 'collapsed';
$collapsed-x: 325px;
$collapsed-y: 293px;
$collapsed-offset-x: -325px;
$collapsed-offset-y: -293px;
$collapsed-width: 11px;
$collapsed-height: 7px;
$collapsed-total-width: 375px;
$collapsed-total-height: 574px;
$collapsed-image: '/dist/img/sprite.png';
$collapsed: (325px, 293px, -325px, -293px, 11px, 7px, 375px, 574px, '/dist/img/sprite.png', 'collapsed', );
$down-name: 'down';
$down-x: 341px;
$down-y: 272px;
$down-offset-x: -341px;
$down-offset-y: -272px;
$down-width: 31px;
$down-height: 18px;
$down-total-width: 375px;
$down-total-height: 574px;
$down-image: '/dist/img/sprite.png';
$down: (341px, 272px, -341px, -272px, 31px, 18px, 375px, 574px, '/dist/img/sprite.png', 'down', );
$griphon1-name: 'griphon1';
$griphon1-x: 290px;
$griphon1-y: 0px;
$griphon1-offset-x: -290px;
$griphon1-offset-y: 0px;
$griphon1-width: 85px;
$griphon1-height: 121px;
$griphon1-total-width: 375px;
$griphon1-total-height: 574px;
$griphon1-image: '/dist/img/sprite.png';
$griphon1: (290px, 0px, -290px, 0px, 85px, 121px, 375px, 574px, '/dist/img/sprite.png', 'griphon1', );
$griphon2-name: 'griphon2';
$griphon2-x: 290px;
$griphon2-y: 121px;
$griphon2-offset-x: -290px;
$griphon2-offset-y: -121px;
$griphon2-width: 85px;
$griphon2-height: 121px;
$griphon2-total-width: 375px;
$griphon2-total-height: 574px;
$griphon2-image: '/dist/img/sprite.png';
$griphon2: (290px, 121px, -290px, -121px, 85px, 121px, 375px, 574px, '/dist/img/sprite.png', 'griphon2', );
$photo-leftarrow-name: 'photo_leftarrow';
$photo-leftarrow-x: 0px;
$photo-leftarrow-y: 0px;
$photo-leftarrow-offset-x: 0px;
$photo-leftarrow-offset-y: 0px;
$photo-leftarrow-width: 145px;
$photo-leftarrow-height: 574px;
$photo-leftarrow-total-width: 375px;
$photo-leftarrow-total-height: 574px;
$photo-leftarrow-image: '/dist/img/sprite.png';
$photo-leftarrow: (0px, 0px, 0px, 0px, 145px, 574px, 375px, 574px, '/dist/img/sprite.png', 'photo_leftarrow', );
$photo-rightarrow-name: 'photo_rightarrow';
$photo-rightarrow-x: 145px;
$photo-rightarrow-y: 0px;
$photo-rightarrow-offset-x: -145px;
$photo-rightarrow-offset-y: 0px;
$photo-rightarrow-width: 145px;
$photo-rightarrow-height: 574px;
$photo-rightarrow-total-width: 375px;
$photo-rightarrow-total-height: 574px;
$photo-rightarrow-image: '/dist/img/sprite.png';
$photo-rightarrow: (145px, 0px, -145px, 0px, 145px, 574px, 375px, 574px, '/dist/img/sprite.png', 'photo_rightarrow', );
$safari-name: 'safari';
$safari-x: 290px;
$safari-y: 242px;
$safari-offset-x: -290px;
$safari-offset-y: -242px;
$safari-width: 51px;
$safari-height: 51px;
$safari-total-width: 375px;
$safari-total-height: 574px;
$safari-image: '/dist/img/sprite.png';
$safari: (290px, 242px, -290px, -242px, 51px, 51px, 375px, 574px, '/dist/img/sprite.png', 'safari', );
$spritesheet-width: 375px;
$spritesheet-height: 574px;
$spritesheet-image: '/dist/img/sprite.png';
$spritesheet-sprites: ($attach, $cart-img, $collapsed, $down, $griphon1, $griphon2, $photo-leftarrow, $photo-rightarrow, $safari, );
$spritesheet: (375px, 574px, '/dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
