/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$attach-name: 'attach';
$attach-x: 290px;
$attach-y: 111px;
$attach-offset-x: -290px;
$attach-offset-y: -111px;
$attach-width: 30px;
$attach-height: 30px;
$attach-total-width: 341px;
$attach-total-height: 574px;
$attach-image: '/dist/img/sprite.png';
$attach: (290px, 111px, -290px, -111px, 30px, 30px, 341px, 574px, '/dist/img/sprite.png', 'attach', );
$cart-img-name: 'cart_img';
$cart-img-x: 290px;
$cart-img-y: 141px;
$cart-img-offset-x: -290px;
$cart-img-offset-y: -141px;
$cart-img-width: 35px;
$cart-img-height: 22px;
$cart-img-total-width: 341px;
$cart-img-total-height: 574px;
$cart-img-image: '/dist/img/sprite.png';
$cart-img: (290px, 141px, -290px, -141px, 35px, 22px, 341px, 574px, '/dist/img/sprite.png', 'cart_img', );
$collapsed-name: 'collapsed';
$collapsed-x: 330px;
$collapsed-y: 51px;
$collapsed-offset-x: -330px;
$collapsed-offset-y: -51px;
$collapsed-width: 11px;
$collapsed-height: 7px;
$collapsed-total-width: 341px;
$collapsed-total-height: 574px;
$collapsed-image: '/dist/img/sprite.png';
$collapsed: (330px, 51px, -330px, -51px, 11px, 7px, 341px, 574px, '/dist/img/sprite.png', 'collapsed', );
$down-name: 'down';
$down-x: 290px;
$down-y: 163px;
$down-offset-x: -290px;
$down-offset-y: -163px;
$down-width: 31px;
$down-height: 18px;
$down-total-width: 341px;
$down-total-height: 574px;
$down-image: '/dist/img/sprite.png';
$down: (290px, 163px, -290px, -163px, 31px, 18px, 341px, 574px, '/dist/img/sprite.png', 'down', );
$map-baloon-name: 'map_baloon';
$map-baloon-x: 290px;
$map-baloon-y: 51px;
$map-baloon-offset-x: -290px;
$map-baloon-offset-y: -51px;
$map-baloon-width: 40px;
$map-baloon-height: 60px;
$map-baloon-total-width: 341px;
$map-baloon-total-height: 574px;
$map-baloon-image: '/dist/img/sprite.png';
$map-baloon: (290px, 51px, -290px, -51px, 40px, 60px, 341px, 574px, '/dist/img/sprite.png', 'map_baloon', );
$photo-leftarrow-name: 'photo_leftarrow';
$photo-leftarrow-x: 0px;
$photo-leftarrow-y: 0px;
$photo-leftarrow-offset-x: 0px;
$photo-leftarrow-offset-y: 0px;
$photo-leftarrow-width: 145px;
$photo-leftarrow-height: 574px;
$photo-leftarrow-total-width: 341px;
$photo-leftarrow-total-height: 574px;
$photo-leftarrow-image: '/dist/img/sprite.png';
$photo-leftarrow: (0px, 0px, 0px, 0px, 145px, 574px, 341px, 574px, '/dist/img/sprite.png', 'photo_leftarrow', );
$photo-rightarrow-name: 'photo_rightarrow';
$photo-rightarrow-x: 145px;
$photo-rightarrow-y: 0px;
$photo-rightarrow-offset-x: -145px;
$photo-rightarrow-offset-y: 0px;
$photo-rightarrow-width: 145px;
$photo-rightarrow-height: 574px;
$photo-rightarrow-total-width: 341px;
$photo-rightarrow-total-height: 574px;
$photo-rightarrow-image: '/dist/img/sprite.png';
$photo-rightarrow: (145px, 0px, -145px, 0px, 145px, 574px, 341px, 574px, '/dist/img/sprite.png', 'photo_rightarrow', );
$safari-name: 'safari';
$safari-x: 290px;
$safari-y: 0px;
$safari-offset-x: -290px;
$safari-offset-y: 0px;
$safari-width: 51px;
$safari-height: 51px;
$safari-total-width: 341px;
$safari-total-height: 574px;
$safari-image: '/dist/img/sprite.png';
$safari: (290px, 0px, -290px, 0px, 51px, 51px, 341px, 574px, '/dist/img/sprite.png', 'safari', );
$spritesheet-width: 341px;
$spritesheet-height: 574px;
$spritesheet-image: '/dist/img/sprite.png';
$spritesheet-sprites: ($attach, $cart-img, $collapsed, $down, $map-baloon, $photo-leftarrow, $photo-rightarrow, $safari, );
$spritesheet: (341px, 574px, '/dist/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
