html {
    font-family: $openSans;
    body {
        background-color: $lightenbrown;
        background-repeat: no-repeat;
        width: 100%;
        // background-image: url("../img/svg/background_image.svg");
        // background-position: 0 50%;
        .main_wrapper {
            width: 100%;
            // outline: 1px dotted red;
            margin: 0 auto;
            display: block;
            background-color: $lightenbrown;
            // ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА// ШАПКА
            header {
                display: flex;
                flex-flow: column nowrap;
                background-image: url("../img/header_back.png");
                background-size: cover;
                .topmenu {
                    width: $mainWidt;
                    margin: 0 auto;
                    background-color: #fff;
                    padding: 0;
                    height: 40px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-content: flex-start;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        li {
                            position: relative;
                            margin: 0 0 0 0;
                            padding: 0;
                            list-style-image: url("../img/svg/septopmenu.svg");
                            height: 100%;
                            // transition: all 0.1s linear;
                            // outline: 1px dotted red;
                            z-index: 2;
                            &:first-child {
                                list-style-image: none;
                                // margin: 0;
                            }
                            &:hover {
                                background-color: $lightenbrown2;
                                .topsubmenu {
                                    display: block;
                                    // list-style: none;
                                }
                            }
                            a {
                                color: $fontcolor;
                                text-decoration: none;
                                padding: 7px 40px 0 40px;
                                // color: #fff;
                                // padding: 15px 0 0 0;
                                display: block;
                                width: 100%;
                                height: 85%;
                            }
                            .topsubmenu {
                                display: none;
                                // flex-flow: column nowrap;
                                position: absolute;
                                left: 0px;
                                top: 40px;
                                margin: 0;
                                padding: 24px 5px 24px 55px;
                                // list-style-image: none;
                                width: 180px;
                                background-color: $lightenbrown2;
                                height: auto;
                                // list-style-image: none;
                                li {
                                    margin: 0;
                                    padding: 0 0 0 0;
                                    list-style-position: outside;
                                    display: list-item;
                                    width: 100%;
                                    text-align: left;
                                    list-style-image: url("../img/svg/septopmenu.svg");
                                    // list-style-type: disk;
                                    &:hover {
                                        background-color: none;
                                    }
                                    a {
                                        font-size: 0.9em;
                                        padding: 10px;
                                        width: 89%;
                                        display: block;
                                        margin: 0;
                                        padding: 4px 0 4px 0;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // инфоблок
                .topinfoblock {
                    width: $mainWidt;
                    margin: 0 auto;
                    // background-color: #ccc;
                    padding: 1em 0 1em 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    font-family: $ptSerif;
                    font-weight: normal;
                    font-size: 1em;
                    .left_griphon {
                        @include sprite($griphon1);
                    }
                    .right_griphon {
                        @include sprite($griphon2);
                    }
                    .address_block {
                        width: 200px;
                        p {
                            color: #fff;
                            display: list-item;
                            list-style-image: url("../img/svg/addr_baloon.svg");
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                    .phone_block {
                        width: 200px;
                        p {
                            display: list-item;
                            list-style-image: url("../img/svg/phone_baloon.svg");
                            a {
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }
                }
                // обертка галвного меню и кнопок ЗАПИСАТЬСЯ и ВЫЗОВ НА ДОМ
                .main_menu_wrapper {
                    width: $mainWidt;
                    margin: 0 auto 300px auto;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    align-items: center;
                    // outline: 1px dotted red;
                    height: 120px;
                    // обертка главного меню
                    .main_menu {
                        background-color: #fff;
                        // outline: 1px dotted red;
                        height: 100%;
                        width: 79.7%;
                        // главное меню
                        ul {
                            // outline: 1px dotted blue;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: space-between;
                            align-items: center;
                            // text-align: space-between;
                            height: 100%;
                            width: 96.5%;
                            flex-basis: 100%;
                            margin: 0;
                            padding: 0 1em 0 1em;
                            li {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                // list-style-image: url("../img/svg/mian_menu_sep.svg");
                                width: 190px;
                                height: 100px;
                                border-top: 2px solid $fontcolor;
                                border-bottom: 2px solid $fontcolor;
                                position: relative;
                                // рисуем ромбик между итемами гглавного меню
                                &:before {
                                    background-image: url("../img/svg/mian_menu_sep.svg");
                                    content: "";
                                    position: absolute;
                                    height: 12px;
                                    width: 12px;
                                    left: 0;
                                    top: 50%;
                                    margin: -5px 0 0 -25px;
                                }
                                // убираем ромбик у мервого итема главного меню
                                &:first-child {
                                    &:before {
                                        background-image: none;
                                        content: none;
                                    }
                                    list-style: none;
                                }
                                a {
                                    display: flex;
                                    flex-flow: column nowrap;
                                    justify-content: center;
                                    align-items: center;
                                    height: 94%;
                                    width: 90%;
                                    text-align: center;
                                    background-color: #fff;
                                    font-family: $ptSerif;
                                    font-size: 1em;
                                    text-decoration: none;
                                    color: $fontcolor;
                                    text-transform: uppercase;
                                    border-top: 1px solid $fontcolor;
                                    border-bottom: 1px solid $fontcolor;
                                }
                                // показываем сабменю главного меню
                                &:hover {
                                    .main_menu_list_items {
                                        display: flex;
                                        flex-flow: row nowrap;
                                        justify-content: space-between;
                                    }
                                    // перекрашиваем пункт главного меню при наведении
                                    background-color: $lightenmiddlebrown;
                                    a {
                                        background-color: $lightenmiddlebrown;
                                    }
                                }
                                .main_menu_list_items {
                                    display: none;
                                    // outline: 1px dotted red;
                                    position: absolute;
                                    top: 102px;
                                    left: 0;
                                    height: initial;
                                    z-index: 1;
                                    // width: auto;
                                    padding: 50px 50px 50px 50px;
                                    background-color: $lightenmiddlebrown;
                                    .mainsubmenu {
                                        margin: 0 4em 0 0;
                                        padding: 0;
                                        display: block;
                                        width: 10em;
                                        &:last-child {
                                            margin: 0;
                                        }
                                        span {
                                            display: block;
                                            padding: 0 0 1.5em 0;
                                            margin: 0 0 0.5em 0;
                                            font-size: 1.2em;
                                            border-bottom: 1px solid $fontcolor;
                                            font-family: $ptSerif;
                                            // color:red;
                                        }
                                        li {
                                            list-style-position: inside;
                                            border: none;
                                            // list-style-image: none;
                                            display: list-item;
                                            list-style-type: disc;
                                            height: auto;
                                            width: auto;
                                            line-height: 1.9em;
                                            &:before {
                                                background-image: none;
                                                position: relative;
                                                height: none;
                                                width: none;
                                                right: none;
                                                content: none;
                                            }
                                            a {
                                                font-family: $openSans;
                                                border: none;
                                                height: initial;
                                                width: initial;
                                                background-color: inherit;
                                                font-size: 0.9em;
                                                text-transform: none;
                                                display: inline-block;
                                                &:hover {
                                                    color: $redColor;
                                                }
                                            }
                                        }
                                    }
                                    // div{
                                    //     width:10em;
                                    //     margin: 0 7em 0 0;
                                    //     span{
                                    //         display:block;
                                    //         padding:0 0 1.5em 0;
                                    //         margin:0 0 0.5em 0;
                                    //         font-size: 1.2em;
                                    //         border-bottom: 1px solid $fontcolor;
                                    //         font-family: $ptSerif;
                                    //         // color:red;
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                    .top_buttons {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        // outline: 1px dotted red;
                        height: 100%;
                        width: 222px;
                        font-family: $ptSerif;
                        .zapis {
                            background-color: $redColor;
                            color: #fff;
                            text-decoration: none;
                            text-align: center;
                            height: 55px;
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-around;
                            align-items: center;
                            font-size: 1.1em;
                            // transition: all linear 0.1s;
                            &:hover {
                                background-color: lighten($redColor, 10%);
                            }
                            .arrow_top_buttons {
                                display: block;
                                background-image: url("../img/svg/arrow_top_btn.svg");
                                width: 15px;
                                height: 14px;
                            }
                        }
                        .nadom {
                            background-color: $lightenbrown2;
                            color: $fontcolor;
                            text-decoration: none;
                            text-align: center;
                            height: 55px;
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-around;
                            align-items: center;
                            font-size: 1.1em;
                            &:hover {
                                background-color: lighten($lightenbrown2, 10%);
                            }
                            .arrow_top_buttons {
                                display: block;
                                background-image: url("../img/svg/arrow_top_btn2.svg");
                                // background-color: $fontcolor;
                                width: 15px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
        // КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ// КОНТЕНТ
        .content_wrapper {
            display: flex;
            flex-flow: column nowrap;
            background-size: cover;
            background-color: transparent;
            background-image: url("../img/svg/background_image.svg");
            background-position: 0 50%;
            // background-size: normal;
            // блок о клинике на главной
            .about_on_main {
                width: 1135px;
                // outline: 1px dotted red;
                margin: -150px auto 0 auto;
                background-color: $lightenbrown;
                padding: 8px;
                border: 1px solid #ccc;
                .bordered {
                    width: 100%;
                    height: 270px;
                    border: 1px solid $lightFontcolor;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-around;
                    align-items: center;
                    .big_heading {
                        font-family: $ptSerif;
                        text-transform: capitalize;
                        padding: 10px;
                        display: flex;
                        line-height: 0.3em;
                        font-size: 2em;
                        &:before {
                            content: "";
                            background-image: url("../img/svg/big_heading_before.svg");
                            width: 25px;
                            height: 14px;
                            display: block;
                            margin: 0 10px 0 0;
                        }
                        &:after {
                            content: "";
                            background-image: url("../img/svg/big_heading_before.svg");
                            width: 25px;
                            height: 14px;
                            display: block;
                            transform: rotate(180deg);
                            margin: 0 0 0 10px;
                        }
                    }
                    .sep_afterheading {
                        background-image: url("../img/svg/sep_afterheading.svg");
                        display: block;
                        width: 128px;
                        height: 34px;
                    }
                    p {
                        color: $lightFontcolor;
                        width: 816px;
                        font-size: 0.9em;
                    }
                }
            }
            // первый слайдер (инициализируется по классу firsttype_slider_wrapper в main.js)
            .firsttype_slider_wrapper {
                outline: 1px dotted red;
                width: $mainWidt;
                margin: 0 auto;
                position: relative;
                zoom: 1;
                .slides {
                    li {}
                }
                // вперед/назад
                .flex-control-nav.flex-control-paging {
                    background-color: #ccc;
                    outline: 1px dotted red;
                }
                // пагинация слайдера
                .flex-direction-nav {
                    .flex-nav-prev {
                        background-color: #ccc;
                        outline: 1px dotted red;
                        a {
                            background-color: #ccc;
                            outline: 1px dotted red;
                            &:before {}
                        }
                    }
                    .flex-nav-next {
                        background-color: #ccc;
                        outline: 1px dotted red;
                        a {
                            background-color: #ccc;
                            outline: 1px dotted red;
                            &:before {}
                        }
                    }
                }
            }
        }
        // ПОДВАЛ//////ПОДВАЛ//////ПОДВАЛ//////ПОДВАЛ//////ПОДВАЛ//////ПОДВАЛ//////ПОДВАЛ//////ПОДВАЛ//////
        .footer_wrapper {
            outline: 1px dotted red;
            background-color: $mainbrown;
            height: 400px;
        }
    }
}
