.footer_wrapper
    .conts
        ul.footercont
            span Диагностика
            li
                a(href="#") Первый пункт

        ul.footercont
            span Контакты
            li
                a(href="#") (812)323-04-45
            li
                a(href="#") (921)958-02-27            
            li
                a(href="#") (921)958-02-27

        ul.footercont
            span Соцсети
            li
                a(href="#")
                    img(src="img/svg/vk.svg")
                    | ВКонтакте
        ul.footermenu
            span Меню
            li
                a(href="#") История
            li
                a(href="#") О нас
            li
                a(href="#") Врачи
            li
                a(href="#") Новости
            li
                a(href="#") Акции
            li
                a(href="#") Статьи
            li
                a(href="#") Прайс
            li
                a(href="#") Вопрос-ответ
            li
                a(href="#") Вакансии
            li
                a(href="#") Партнеры
            li
                a(href="#") Контакты
    .copyrght
        span 2015 клиника доктора пеля
        span 
            |Создание сайта - 
            a(href="#") lum

