//- .footer_wrapper(data-stellar-background-ratio="0.8")
.footer_wrapper
    .conts
        .footercont Диагностика
            ul
                li
                    a(href="#") Первый пункт

        .footercont Контакты
            ul
                li
                    a(href="#") (812)323-04-45
                li
                    a(href="#") (921)958-02-27            
                li
                    a(href="#") (921)958-02-27                
                li
                    a(href="mailto:info@klinikapelya.ru", type="email") info@klinikapelya.ru

        .footercont Соцсети
            ul
                li
                    a(href="#")
                        img(src="img/svg/vk.svg")
                        | ВКонтакте

        .footermenu Меню
            ul
                li
                    a(href="#") История
                li
                    a(href="#") О нас
                li
                    a(href="#") Врачи
                li
                    a(href="#") Новости
                li
                    a(href="#") Акции
                li
                    a(href="#") Статьи
                li
                    a(href="#") Прайс
                li
                    a(href="#") Вопрос-ответ
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Партнеры
                li
                    a(href="#") Контакты
    .copyrght 2015 клиника доктора пеля
        span 
            |Создание сайта - 
            a(href="#") lum

