header

            //- главнове меню
            .topmenu
                ul
                    li
                        a(href="#") О нас
                        ul.topsubmenu
                            li
                                a(href="#") Первый пункт
                            li
                                a(href="#") Второй пункт
                            li
                                a(href="#") Третий пункт
                            li
                                a(href="#") Четвертый пункт
                            li
                                a(href="#") Первый пункт
                            li
                                a(href="#") Второй пункт
                            li
                                a(href="#") Третий пункт
                            li
                                a(href="#") Четвертый пункт
                    li
                        a(href="#") Врачи
                    li
                        a(href="#") Прайс
                    li
                        a(href="#") Вопрос-ответ

                        //- подменю нлавного меню
                        ul.topsubmenu
                            li
                                a(href="#") Первый пункт
                            li
                                a(href="#") Второй пункт
                            li
                                a(href="#") Третий пункт
                            li
                                a(href="#") Четвертый пункт
                     li 
                        a(href="#") Контакты
            //- верхний блок с адресом и логотипом
            .topinfoblock
                .left_griphon
                .address_block
                    p 
                        |Санкт-Петербург, 7-ая линия В.О.,д. 16-18
                a(href="#")
                    img.main_logo(src="img/svg/main_logo.svg")
                .phone_block
                    p 
                        a(href="tel:873287283")
                            | (812) 323-04-45
                        br
                        a(href="tel:873287283")
                            | (812) 958-02-27
                .right_griphon

                    //- главное меню и 2 кнопки
            .main_menu_wrapper
                .main_menu
                    ul
                        li
                            a(href="#") Взрослое направление

                            //- обертка подменю
                            .main_menu_list_items
                                
                                //- подменю
                                ul.mainsubmenu
                                    li
                                        a(href="#") Гастроэкология
                                    li
                                        a(href="#") Гинекология
                                    li
                                        a(href="#") Стомотология
                                    li
                                        a(href="#") Терапия
                                    li
                                        a(href="#") Кардиология
                                    li
                                        a(href="#") Педиятрия
                                    li
                                        a(href="#") Урология
                                    li
                                        a(href="#") Хирургия
                                    li
                                        a(href="#") Психотерапия
                                    li
                                        a(href="#") Унализы
                           li
                            a(href="#") Детсткое направление

                            .main_menu_list_items

                                ul.mainsubmenu
                                    li
                                        a(href="#") Гастроэкология
                                    li
                                        a(href="#") Гинекология
                                    li
                                        a(href="#") Стомотология
                                    li
                                        a(href="#") Терапия
                                    li
                                        a(href="#") Кардиология
                                    li
                                        a(href="#") Педиятрия
                                    li
                                        a(href="#") Урология
                                    li
                                        a(href="#") Хирургия
                                    li
                                        a(href="#") Психотерапия
                                    li
                                        a(href="#") Унализы
                                ul.mainsubmenu
                                    li
                                        a(href="#") Первый пункт
                                    li
                                        a(href="#") Второй пункт
                                    li
                                        a(href="#") Третий пункт
                                    li
                                        a(href="#") Четвертый пункт
                                    li
                                        a(href="#") Первый пункт
                                    li
                                        a(href="#") Второй пункт
                                    li
                                        a(href="#") Третий пункт
                                    li
                                        a(href="#") Четвертый пункт
                                ul.mainsubmenu
                                    span Диагностика
                                    li
                                        a(href="#") Первый пункт
                                    li
                                        a(href="#") Второй пункт
                                    li
                                        a(href="#") Третий пункт
                                    li 
                                        a(href="#") Четвертый пункт
                                    li
                                        a(href="#") Первый пункт
                                    li
                                        a(href="#") Второй пункт
                                    li
                                        a(href="#") Третий пункт
                                    li
                                        a(href="#") Четвертый пункт


                        li
                            a(href="#") Комплексное лечение
                        li
                            a(href="#") Корпоративным клиентам

                    
                .top_buttons
                    a(href="#").zapis записаться
                        span.arrow_top_buttons
                    a(href="#").nadom вызов на дом
                        span.arrow_top_buttons