ul(style="position:fixed; left:0; bottom:0;display:block;background:#fff; padding:30px 50px 30px 30px ;margin:10px; list-style-position:inside;opacity:0.6;-webkit-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.77);-moz-box-shadow:    2px 2px 15px 0px rgba(50, 50, 50, 0.77);box-shadow:         2px 2px 15px 0px rgba(50, 50, 50, 0.77);")
	li
		a(href="/dist/") Главная	
	li
		a(href="type.html") Типовая	
	li
		a(href="contacts.html") Контакты
	li
		a(href="naprav.html") Направление
