doctype html/
html(lang="en").no-js
    head
        title Клиника Пеля

        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        // bower:css
        link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
        link(rel='stylesheet', href='bower_components/slick-carousel/slick/slick.css')
        link(rel='stylesheet', href='bower_components/slick-carousel/slick/slick-theme.css')
        link(rel='stylesheet', href='bower_components/fancybox3/jquery.fancybox.css')
        link(rel='stylesheet', href='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
        // endbower
        link(rel='stylesheet', href='css/main.css')

    body
        //- обертка
        .main_wrapper
            //- шапка
            include includes/head.jade
            //- обертка для контента (главной)
            .content_wrapper
                //- .about_on_main
                .contentner
                    .breadcrmbs_bordered
                        ul
                            li
                                a(href="#") Главная
                            li
                                a(href="#") Направление
                            li
                                a(href="#") Стоматология

                    //- .bordered
                    section
                        h1.big_heading История
                        span.sep_afterheading
                        ul.wayp_links
                            li.active
                                a(href="#wayp_block1") 1850
                            li
                                a(href="#wayp_block2") 1875
                            li
                                a(href="#wayp_block3") 1892
                            li
                                a(href="#wayp_block4") 1908
                            li
                                a(href="#wayp_block5") 2005
                            li
                                a(href="#wayp_block6") 2007

                                
                        article
                            

                            .history_elemnt_wr
                                .year_content_container
                                    .years_arrow_wr
                                        .years_arrow
                                        
                            .history_elemnt_wr
                                #wayp_block1.year_history.tracked_block 1850
                                h3 Александр Васильевич (Александр Вильгельм) Пель
                                .year_content_container
                                    .img_history_wr                             
                                        a(href="img/pel.jpg").fancyimg
                                            img(src="img/pel.jpg")
                                        //- a(href="img/pel.jpg").fancyimg
                                        //-     img(src="img/pel.jpg")
                                    .years_arrow_wr
                                        .years_arrow
                                    .p_history_wr
                                        p 27 февраля 1850, С.-Петербург - 28 августа 1908, Берлин

                                        p Магистр фармации, доктор философии и химии, профессор, действительный статский советник (1896). Окончил гимназию Видемана (1866), С.-Петербургское реформатское училище (1869) и Медико-хирургическую академию в С.-Петербурге (1872) в звании провизора. Овладел глубокими знаниями по фармации, химии и медицине, но особенный интерес проявлял к физиологии и патологии. В 1873 получил звание магистра фармации. Стажировался в области химии за границей, получил степень доктора философии. По возвращении в Россию в 1880 был удостоен звания доктора химии. С 1873 работал также провизором в аптеке отца.
                                
                            .history_elemnt_wr
                                #wayp_block2.year_history.tracked_block 1875
                                h3 Аптека с химической лабораторией
                                .year_content_container
                                    .p_history_wr
                                        p В 1875 получил от него право на владение аптекой с химической лабораторией. Используя новейшие достижения фармацевтической науки, постоянно совершенствовал работу аптеки.

                                        p Расширил лабораторию, в ней проводил научные исследования, создал химико-аналитический отдел для проведения судебно-химических анализов аптекарских товаров.

                                        p Расширил фармацевтический отдел лаборатории, удовлетворив потребность аптек в галеновых и химико-фармацевтических препаратах. Оснастил лабораторию усовершенствованным оборудованием (вакуумный аппарат, измельчители различного типа, таблетирующие и ампульные машины, др.).

                                        p Впервые в России А.В.Пель ввел в употребление таблетки и гранулы с дозированным содержанием лекарственных веществ; внедрил в практику методы асептики и антисептики; изобрел и применил на практике ампулу для дозирования и хранения стерильных инъекционных растворов.
                                    .years_arrow_wr
                                        .years_arrow
                                    .img_history_wr                             
                                        a(href="img/1875_1.jpg").fancyimg
                                            img(src="img/1875_1.jpg")
                                        a(href="img/1875_2.jpg").fancyimg
                                            img(src="img/1875_2.jpg")
                            .history_elemnt_wr
                                #wayp_block3.year_history.tracked_block 1892
                                h3 Журнал медицинской химии и фармации. Мировое признание
                                .year_content_container
                                    .img_history_wr                             
                                        a(href="img/1892_1.jpg").fancyimg
                                            img(src="img/1892_1.jpg")
                                        a(href="img/1892_2.jpg").fancyimg
                                            img(src="img/1892_2.jpg")
                                    .years_arrow_wr
                                        .years_arrow
                                    .p_history_wr
                                        p С 1892 в аптеке основана редакция первого «Журнала медицинской химии и фармации», с 1908 «Журнала медицинской химии и органотерапии». Мировое признание получили открытия А. В. Пеля в области органотерапии. Он получил в чистом виде спермин (Sperminum-Poehl) -единственный лекарственный препарат, экспортировавшийся в то время из России, удостоен «Гран при» на 8 Всемирных, международных и Всероссийских выставках.

                                        p В лабораториях А. В. Пеля проводились многочисленные анализы продуктов, питьевой воды, посуды, ткани и др. В нач. 20 в. комплекс включал: аптеку, органо-терапевтический институт, фармацевтическую фабрику, биологическую, физиологическую, бактериологическую и урологическую лаборатории, амбулаторию, научно-исследовательское отделение, редакцию, научную библиотеку.

                                        p Занимался преподавательской деятельностью: с 1877 приват-доцент, адъюнкт-профессор фармации Военно-медицинской академии в С.-Петербурге, почетный профессор по медицинской химии в Клиническом институте. В 1878-92 член Медицинского совета МВД. За заслуги перед отечеством в 1884 он возведен в потомственное дворянство и получил право на собственный герб.
                                
                            .history_elemnt_wr
                                #wayp_block4.year_history.tracked_block 1908
                                h3 Товарищество профессора доктора химии Пеля и сыновей
                                .year_content_container
                                    .p_history_wr
                                        p В 1908 сыновья А.В.Пеля Рихард, Альфред и Арист-Александр унаследовали аптеку и создали «Товарищество профессора доктора химии Пеля и сыновей». В 1914 организован благотворительный госпиталь. 

                                        p Аптека в 1918, после национализации, была преобразована в 97-ю коммунальную аптеку, промышленное производство медикаментов и медицинского оборудования прекратилось. В 1930-х годах аптека носила имя лейтенанта Шмидта. Работа аптеки не прекращалась в годы Великой Отечественной войны.
                                    .years_arrow_wr
                                        .years_arrow
                                    .img_history_wr                             
                                        a(href="img/1908_1.jpg").fancyimg
                                            img(src="img/1908_1.jpg")
                                        
                            .history_elemnt_wr
                                #wayp_block5.year_history.tracked_block 2005
                                h3 Здание в аварийном состоянии, после пожара в феврале 2005 года
                                .year_content_container
                                    .img_history_wr                             
                                        a(href="img/2005_1.jpg").fancyimg
                                            img(src="img/2005_1.jpg")
                                        
                                
                                    .years_arrow_wr
                                        .years_arrow
                                    .p_history_wr
                                        p Аптека была закрыта после проливки здания водой при тушении пожара в феврале 2005г. В результате проливки здания водой при тушении пожара в феврале 2005г повреждены общая площадь помещения 692,5 кв.м. и мебель: Инженерные системы помещения- отопление, электроосвещение, водоснабжение – в аварийном состоянии; Оконные рамы поражены гнилью, фурнитура и подоконники из белого мрамора утрачены; Входная дверь двупольная, филенчатая, красного дерева сильно повреждена по кромкам полотен, отделочный слой потерт и поврежден царапинами, сохранилась только одна латунная ручка; Штукатурка стен и потолка сильно повреждена протечками, краска шелушилась; В торговом зале аптеки пристенные двухъярусные шкафы и прилавки из массива сосны, отделанные шпоном красного дерева повреждены и утрачены элементы мебели, фурнитура, латунный поручень. Утрачены светильники и предметы интерьера.
                                        
                            .history_elemnt_wr
                                #wayp_block6.year_history.tracked_block 2007
                                h3 Восстановление и легенда о грифонах
                                .year_content_container
                                    
                                    .p_history_wr
                                        p С 17 ноября 2006 г. Памятник «Дом А.В.Пеля с аптекой, химической лабораторией и фабрикой» взят в аренду обществом с ограниченной ответственностью «ЭДИФАРМ», которое организовало экспертизу объекта, разработку и согласование проектной документации, ремонт помещения и реставрацию мебели по заданию и под контролем КГИОП на основании отнесения Памятника к числу выявленных объектов культурного наследия (Приказ № 15 от 20.02.2001 г.).

                                        p Реставрацию мебели и воссоздание утраченных элементов произвел архитектор Л.Н.Дурнобрагов. Ремонт произведён ООО «ЭДИФАРМ» за счет собственных оборотных средств с привлечением заемных средств учредителей Эдуарда Захаровича Захрабекова и Ирины Владимировны Захрабековой.

                                        p Башня грифонов.
                                        p Рассказывают легенду, что Александр Пель в свободное от фармации время увлекался алхимией и выводил в лаборатории грифонов. Когда невидимые существа в полночь слетаются в своё гнездо в башне, их отражения можно увидеть в окнах соседних домов. Числа же, написанные на кирпичах, - не что иное, как зашифрованный тайный код. Тому, кто правильно перечтёт числа на башне, сулится, по меньшей мере, исполнение желаний, по другой версии - бессмертие.
                                            
                                    
                                    .years_arrow_wr
                                            .years_arrow
                                    .img_history_wr                             
                                        a(href="img/2007_1.jpg").fancyimg
                                            img(src="img/2007_1.jpg")
                                        a(href="img/2007_2.jpg").fancyimg
                                            img(src="img/2007_2.jpg")
                                    
                        span.sep_afterheading.rotating            

            //- главная обертка сладера/////////////////////////
           

        include includes/footer_wrapper.jade
        include includes/temp_nav.jade





        //- before body///////////////////////////////////////////////////////////////////////////////////////
        // bower:js
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/slick-carousel/slick/slick.min.js')
        script(src='bower_components/fancybox3/jquery.fancybox.js')
        script(src='bower_components/jquery-validation/dist/jquery.validate.js')
        script(src='bower_components/jquery.scrollTo/jquery.scrollTo.js')
        script(src='bower_components/jquery.easing/js/jquery.easing.js')
        script(src='bower_components/jquery-mousewheel/jquery.mousewheel.js')
        script(src='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
        // endbower
        
        
        script(src='bower_components/waypoints/lib/jquery.waypoints.min.js')
        //- script(src='bower_components/waypoints/lib/shortcuts/sticky.min.js')
        //- script(src='bower_components/waypoints/lib/shortcuts/infinite.min.js')
        //- script(src='bower_components/waypoints/lib/shortcuts/inview.min.js')
        
        //- script(src='bower_components/easytabs/vendor/jquery.hashchange.min.js')
        script(src='bower_components/easytabs/lib/jquery.easytabs.min.js')
    
        //- end before body
        script(src='js/custom_plgns.min.js', type='text/javascript')
        script(src='js/main.min.js', type='text/javascript')
