doctype html/
html(lang="en")
  head
    title Клиника Пеля
    
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    // bower:css
    link(rel='stylesheet', href='../../dist/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='../../dist/bower_components/flexslider/flexslider.css')
    link(rel='stylesheet', href='../../dist/bower_components/fancybox3/jquery.fancybox.css')
    // endbower
    link(rel='stylesheet', href='css/main.css')
    
  body

    //- обертка
    .main_wrapper
        header

            //- главнове меню
            .topmenu
                ul
                    li
                        a(href="#") О нас
                        ul.topsubmenu
                            li
                                a(href="#") Первый пункт
                            li
                                a(href="#") Второй пункт
                            li
                                a(href="#") Третий пункт
                            li
                                a(href="#") Четвертый пункт
                            li
                                a(href="#") Первый пункт
                            li
                                a(href="#") Второй пункт
                            li
                                a(href="#") Третий пункт
                            li
                                a(href="#") Четвертый пункт
                    li
                        a(href="#") Врачи
                    li
                        a(href="#") Прайс
                    li
                        a(href="#") Вопрос-ответ

                        //- подменю нлавного меню
                        ul.topsubmenu
                            li
                                a(href="#") Первый пункт
                            li
                                a(href="#") Второй пункт
                            li
                                a(href="#") Третий пункт
                            li
                                a(href="#") Четвертый пункт
                     li 
                        a(href="#") Контакты
            //- верхний блок с адресом и логотипом
            .topinfoblock
                .left_griphon
                .address_block
                    p 
                        |Санкт-Петербург, 7-ая линия В.О.,д. 16-18
                a(href="#")
                    img.main_logo(src="./img/svg/main_logo.svg")
                .phone_block
                    p 
                        a(href="tel:873287283")
                            | (812) 323-04-45
                        br
                        a(href="tel:873287283")
                            | (812) 958-02-27
                .right_griphon

                    //- главное меню и 2 кнопки
            .main_menu_wrapper
                .main_menu
                    ul
                        li
                            a(href="#") Взрослое направление
                            .main_menu_list_items
                                ul.mainsubmenu
                                    li
                                        a(href="#") Первый пункт
                                    li
                                        a(href="#") Второй пункт
                                    li
                                        a(href="#") Третий пункт
                                    li
                                        a(href="#") Четвертый пункт
                                    li
                                        a(href="#") Первый пункт
                                    li
                                        a(href="#") Второй пункт
                                    li
                                        a(href="#") Третий пункт
                                    li
                                        a(href="#") Четвертый пункт
                        li
                            a(href="#") Детсткое направление
                        li
                            a(href="#") Комплексное лечение
                        li
                            a(href="#") Корпоративным клиентам

                    
                .top_buttons
                    a(href="#").zapis записаться
                        span.arrow_top_buttons
                    a(href="#").nadom вызов на дом
                        span.arrow_top_buttons






    //- before body///////////////////////////////////////////////////////////////////////////////////////
    // bower:js
    script(src='../../dist/bower_components/jquery/dist/jquery.js')
    script(src='../../dist/bower_components/flexslider/jquery.flexslider.js')
    script(src='../../dist/bower_components/fancybox3/jquery.fancybox.js')
    // endbower
    //- end before body

    script(src='js/main.min.js', type='text/javascript')
